# Ignore .DS_Store and .vscode/
.DS_Store
.vscode/

# Ignore .ipynb_checkpoint
.ipynb_checkpoints/

# Ignore __pycache__
__pycache__/

# Ignore node_modules/
node_modules/
yarn.lock

# Ignore trained models' checkpoint
*.pth

# Ignore neuron feature images
*.jpg

# Ignore script file in src/
src/*.sh

# Ignore big data
data/neuron_feature/
data/embedding/
src/utils/notebook/old/analyze-data.ipynb
data/neuron_feature-old/
data/embedding-old/
data/find_important_evo/
data/model/
data/co_act/
data/stimulus/
data/human-experiment.zip
data/human-experiment/
data/eval_important_evo/
