# Ignore .DS_Store and .vscode/
.DS_Store
.vscode/

# Ignore .ipynb_checkpoint
.ipynb_checkpoints/

# Ignore __pycache__
__pycache__/

# Ignore big data
data/model/
data/example_patch/
data/image_embedding/
data/indirect_image_embedding/
data/neuron_embedding/
data/proj_embedding/
data/reduced_embedding/
data/responsive_neurons/
data/stimulus/
data/important_evo/
src/utils/notebook/*
src/utils/notebook/sort-important-evolutions-by-class.ipynb
src/utils/notebook/img-emb-from-layer-act.ipynb
src/utils/notebook/data/
src/utils/notebook/old/analyze-data.ipynb
