# Ignore .DS_Store
.DS_Store

# Ignore .ipynb_checkpoint
.ipynb_checkpoints/

# Ignore __pycache__
__pycache__/

# Ignore trained models' checkpoint
*.pth

# Ignore neuron feature images
*.jpg

# Ignore script file in src/
src/*.sh

# Ignore big data
data/neuron_feature/
data/embedding/
src/utils/analyze-data.ipynb
